<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cnm_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,1},{106,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,76}}</string>
			<key>sourceSize</key>
			<string>{106,76}</string>
		</dict>
		<key>cnm_hit01.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,1},{105,94}}</string>
			<key>offset</key>
			<string>{-4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{105,94}}</string>
			<key>sourceSize</key>
			<string>{113,98}</string>
		</dict>
		<key>cnm_hit02.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,471},{101,98}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{101,98}}</string>
			<key>sourceSize</key>
			<string>{113,98}</string>
		</dict>
		<key>cnm_hit03.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,280},{101,96}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,2},{101,96}}</string>
			<key>sourceSize</key>
			<string>{113,98}</string>
		</dict>
		<key>cnm_hit04.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,471},{101,98}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{101,98}}</string>
			<key>sourceSize</key>
			<string>{113,98}</string>
		</dict>
		<key>cnm_hit05.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,189},{103,98}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,0},{103,98}}</string>
			<key>sourceSize</key>
			<string>{113,98}</string>
		</dict>
		<key>cnm_idle01.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,95},{104,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,93}}</string>
			<key>sourceSize</key>
			<string>{104,93}</string>
		</dict>
		<key>cnm_idle02.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,94},{104,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,93}}</string>
			<key>sourceSize</key>
			<string>{104,93}</string>
		</dict>
		<key>cnm_idle03.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,1},{104,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,93}}</string>
			<key>sourceSize</key>
			<string>{104,93}</string>
		</dict>
		<key>cnm_idle04.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,170},{104,91}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{104,91}}</string>
			<key>sourceSize</key>
			<string>{104,93}</string>
		</dict>
		<key>cnm_idle05.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,96},{104,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,93}}</string>
			<key>sourceSize</key>
			<string>{104,93}</string>
		</dict>
		<key>cnm_idle06.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,95},{104,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,93}}</string>
			<key>sourceSize</key>
			<string>{104,93}</string>
		</dict>
		<key>cnm_move01.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,354},{103,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,93}}</string>
			<key>sourceSize</key>
			<string>{103,93}</string>
		</dict>
		<key>cnm_move02.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,281},{103,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,93}}</string>
			<key>sourceSize</key>
			<string>{103,93}</string>
		</dict>
		<key>cnm_move03.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,280},{103,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,93}}</string>
			<key>sourceSize</key>
			<string>{103,93}</string>
		</dict>
		<key>cnm_move04.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,287},{103,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,93}}</string>
			<key>sourceSize</key>
			<string>{103,93}</string>
		</dict>
		<key>cnm_move05.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,380},{103,91}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{103,91}}</string>
			<key>sourceSize</key>
			<string>{103,93}</string>
		</dict>
		<key>cnm_move06.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,261},{103,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,93}}</string>
			<key>sourceSize</key>
			<string>{103,93}</string>
		</dict>
		<key>cnm_move07.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,188},{103,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,93}}</string>
			<key>sourceSize</key>
			<string>{103,93}</string>
		</dict>
		<key>cnm_move08.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,187},{103,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,93}}</string>
			<key>sourceSize</key>
			<string>{103,93}</string>
		</dict>
		<key>cnm_shoot01.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,77},{104,93}}</string>
			<key>offset</key>
			<string>{4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,6},{104,93}}</string>
			<key>sourceSize</key>
			<string>{120,99}</string>
		</dict>
		<key>cnm_shoot02.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,447},{102,91}}</string>
			<key>offset</key>
			<string>{6,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,8},{102,91}}</string>
			<key>sourceSize</key>
			<string>{120,99}</string>
		</dict>
		<key>cnm_shoot03.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,374},{102,97}}</string>
			<key>offset</key>
			<string>{6,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,2},{102,97}}</string>
			<key>sourceSize</key>
			<string>{120,99}</string>
		</dict>
		<key>cnm_shoot04.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,373},{102,99}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,0},{102,99}}</string>
			<key>sourceSize</key>
			<string>{120,99}</string>
		</dict>
		<key>cnm_shoot05.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,569},{98,99}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,0},{98,99}}</string>
			<key>sourceSize</key>
			<string>{120,99}</string>
		</dict>
		<key>cnm_shoot06.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,538},{98,99}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,0},{98,99}}</string>
			<key>sourceSize</key>
			<string>{120,99}</string>
		</dict>
		<key>cnm_shoot07.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,472},{98,95}}</string>
			<key>offset</key>
			<string>{6,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,4},{98,95}}</string>
			<key>sourceSize</key>
			<string>{120,99}</string>
		</dict>
		<key>cnm_shoot08.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,479},{92,89}}</string>
			<key>offset</key>
			<string>{8,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,10},{92,89}}</string>
			<key>sourceSize</key>
			<string>{120,99}</string>
		</dict>
		<key>cnm_shoot09.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,381},{98,99}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,0},{98,99}}</string>
			<key>sourceSize</key>
			<string>{120,99}</string>
		</dict>
		<key>cnm_shoot10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{120,95}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{120,95}}</string>
			<key>sourceSize</key>
			<string>{120,99}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>cnm.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1c0f7059dfd6fd5e9f167769c13eab3f:4f84f9202489378e405b63f3c76f8c30:dcfea34badaf809ba6dae0af9898b6eb$</string>
		<key>textureFileName</key>
		<string>cnm.png</string>
	</dict>
</dict>
</plist>
