<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mechdead.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{123,72}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,29},{123,72}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgundead.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,499},{97,50}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,43},{97,50}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunhit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,598},{103,26}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{103,26}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunhit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{101,32}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{101,32}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunhit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,598},{99,38}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{99,38}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunhit04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{101,32}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{101,32}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunhit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,598},{99,38}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{99,38}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunidle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,598},{103,26}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{103,26}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunidle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,572},{103,26}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{103,26}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunidle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,560},{103,26}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,27},{103,26}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunidle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{103,26}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{103,26}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunidle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,570},{103,26}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{103,26}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunmove01.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,598},{103,26}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{103,26}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunmove02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,544},{103,26}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{103,26}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunmove03.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,542},{103,26}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{103,26}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunmove04.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,514},{103,26}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{103,26}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunmove05.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,486},{103,26}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{103,26}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunmove06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{103,26}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{103,26}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunmove07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{103,26}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{103,26}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunshoot01.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,598},{103,26}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{103,26}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunshoot02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{103,26}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,37},{103,26}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunshoot03.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,588},{101,30}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{101,30}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunshoot04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{103,26}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,37},{103,26}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunshoot05.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,588},{101,30}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{101,30}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunshoot06.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,600},{101,28}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{101,28}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunshoot07.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,598},{101,32}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,34},{101,32}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunshoot08.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,598},{101,32}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,34},{101,32}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunshoot09.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,396},{101,32}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{101,32}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechgunshoot10.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,598},{101,32}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,34},{101,32}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechhit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,186},{121,90}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{121,90}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechhit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{121,86}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{121,86}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechhit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,90}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{125,90}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechhit04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{121,86}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{121,86}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechhit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,90}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{125,90}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechidle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,168},{121,90}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{121,90}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechidle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,100},{121,90}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{121,90}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechidle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{121,90}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{121,90}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechidle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,94},{121,90}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{121,90}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechidle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,76},{121,90}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{121,90}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechmove01.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,186},{121,90}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{121,90}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechmove02.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2},{121,96}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{121,96}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechmove03.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,260},{119,94}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{119,94}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechmove04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,100}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{125,100}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechmove05.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,278},{117,102}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,102}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechmove06.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,192},{119,102}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,102}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechmove07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{117,100}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,100}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechshoot01.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,186},{121,90}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{121,90}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechshoot02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,456},{113,86}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{113,86}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechshoot03.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,472},{111,86}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{111,86}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechshoot04.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,456},{113,86}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{113,86}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechshoot05.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,472},{111,86}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{111,86}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechshoot06.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,396},{113,88}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{113,88}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechshoot07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{113,88}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{113,88}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechshoot08.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,382},{113,88}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{113,88}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechshoot09.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,356},{117,98}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{117,98}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>mechshoot10.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,296},{117,98}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{117,98}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mech.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:747630815d244e856816f820b5f79920:1/1$</string>
            <key>textureFileName</key>
            <string>mech.png</string>
        </dict>
    </dict>
</plist>
