<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rockdead.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,89}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{120,89}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockhit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,208},{98,101}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{98,101}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockhit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,436},{92,117}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{92,117}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockhit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,313},{96,121}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{96,121}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockhit04.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,434},{92,117}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{92,117}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockhit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,311},{96,121}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{96,121}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockidle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{98,101}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{98,101}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockidle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,109},{98,101}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{98,101}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockidle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,212},{98,99}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{98,99}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockidle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{98,97}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{98,97}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockidle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,210},{98,99}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{98,99}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockmove01.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,107},{98,101}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{98,101}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockmove02.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{106,103}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{106,103}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockmove03.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{112,105}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{112,105}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockmove04.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,311},{96,105}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{96,105}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockmove05.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,105},{100,101}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{100,101}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockmove06.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{102,101}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{102,101}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockmove07.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,311},{96,105}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{96,105}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockmove08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{96,107}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{96,107}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockshoot01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,208},{98,101}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{98,101}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockshoot02.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,553},{92,109}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,11},{92,109}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockshoot03.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,418},{92,113}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{92,113}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockshoot04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{92,113}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{92,113}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockshoot05.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,418},{94,109}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{94,109}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockshoot06.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,555},{90,109}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{90,109}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockshoot07.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,529},{92,111}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{92,111}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockshoot08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{88,101}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,19},{88,101}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockshoot09.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,533},{84,101}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{84,101}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
            <key>rockshoot10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{106,107}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{106,107}}</string>
                <key>sourceSize</key>
                <string>{134,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rock.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f12e8482b32d32b77f5fa42f957577bf:1/1$</string>
            <key>textureFileName</key>
            <string>rock.png</string>
        </dict>
    </dict>
</plist>
