<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tankdead.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,88},{109,80}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{109,80}}</string>
                <key>sourceSize</key>
                <string>{119,86}</string>
            </dict>
            <key>tankhit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,86},{109,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{109,86}}</string>
                <key>sourceSize</key>
                <string>{119,86}</string>
            </dict>
            <key>tankhit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{111,84}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{111,84}}</string>
                <key>sourceSize</key>
                <string>{119,86}</string>
            </dict>
            <key>tankidle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,86},{109,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{109,86}}</string>
                <key>sourceSize</key>
                <string>{119,86}</string>
            </dict>
            <key>tankidle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,256},{107,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{107,86}}</string>
                <key>sourceSize</key>
                <string>{119,86}</string>
            </dict>
            <key>tankidle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,256},{107,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{107,86}}</string>
                <key>sourceSize</key>
                <string>{119,86}</string>
            </dict>
            <key>tankidle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,173},{107,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{107,86}}</string>
                <key>sourceSize</key>
                <string>{119,86}</string>
            </dict>
            <key>tankidle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,173},{107,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{107,86}}</string>
                <key>sourceSize</key>
                <string>{119,86}</string>
            </dict>
            <key>tankmove01.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,256},{107,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{107,86}}</string>
                <key>sourceSize</key>
                <string>{119,86}</string>
            </dict>
            <key>tankmove02.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,169},{107,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{107,86}}</string>
                <key>sourceSize</key>
                <string>{119,86}</string>
            </dict>
            <key>tankmove03.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,256},{107,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{107,86}}</string>
                <key>sourceSize</key>
                <string>{119,86}</string>
            </dict>
            <key>tankmove04.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,169},{107,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{107,86}}</string>
                <key>sourceSize</key>
                <string>{119,86}</string>
            </dict>
            <key>tankshoot01.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,256},{107,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{107,86}}</string>
                <key>sourceSize</key>
                <string>{119,86}</string>
            </dict>
            <key>tankshoot02.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,343},{101,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{101,86}}</string>
                <key>sourceSize</key>
                <string>{119,86}</string>
            </dict>
            <key>tankshoot03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,260},{101,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{101,86}}</string>
                <key>sourceSize</key>
                <string>{119,86}</string>
            </dict>
            <key>tankshoot04.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1},{109,86}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{109,86}}</string>
                <key>sourceSize</key>
                <string>{119,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tank.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20645eb2c0bc6c074c46388a98918340:1/1$</string>
            <key>textureFileName</key>
            <string>tank.png</string>
        </dict>
    </dict>
</plist>
